*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    line-height: 1;
    height: 100%;
    font-family: "Work Sans";
}

a:hover {
    color: $color-blue; 
}

a:active {
    color: $color-blue;
    font-weight: 500;  
}

h2 {
    font-size: 2.4rem;
    letter-spacing: 1px;
    line-height: 84px;
    color: #171717;
    font-weight: 700;
    font-family: "Playfair Display";
}


@media (max-width: 768px) {
    h2 {
        font-size: 2rem;
    }
}

@media (max-width: 576px) {
    h2 {
        font-size: 1.8rem;
    }
}

section:nth-of-type(odd) {
    background-color: $color-grey-light;
}
