.wrapper{
    min-height: 100%;
    overflow:hidden;
}

.header{
    padding: 0 10rem;
    background-color: $color-white;
    height: 10rem;
    font-size: 1.4rem;
    &__logo-box{
        padding-top: 3rem;
    }
    &__logo{
        display: block;
    }
    &__nav-box {
        padding-top: 4rem;
        & a{
          text-transform: uppercase;  
        }
        & a:hover{
          color: $color-blue; 
        }
        & a:active{
          color: $color-blue;
        font-weight: 500;  
        }
    }
}

.post-image{
    //max-height: 56rem;
    & img{
        width: 100%;
        height: auto;
        display: block;
    }
}

.post-text{
    padding: 10rem;
    background-color: $color-grey-light;
    & article{
        padding: 0;
        font-size: 1.8rem;
        margin: 0 auto;
        & h1{
            font-size: 3.8rem;
            letter-spacing: 1px;
            font-weight: 700;
            font-family: "Playfair Display";
            padding-bottom: 2rem;
        }
    }
    &__details{
        font-size: 1.2rem;
        font-weight: 500;
        font-family: "Work Sans";
        text-transform: uppercase;
        margin: 0;
        &-item{
            padding-right: 4rem;
        }
    }
    &__content{
        padding-top: 3rem;
        font-size: 1.5rem;
        line-height: 1.5;
        color: $color-text-grey-dark;
        font-family: "Work Sans";
        & p{
            padding-bottom: 3rem;
            margin: 0;
        }
        &-quote{
            font-family: "Playfair Display";
            font-style: italic;
            font-size: 2rem;
        }
    }
    &__contacts{
        font-size: 1.5rem;
        font-weight: 500;
        font-family: "Work Sans";
    }
}

.post-comments{
    background-color: $color-white;
}

.post-new-comment{
    background-color: $color-grey-light;
}

.post-navigation{
    background-color: $color-white;
}