// COLORS
$color-text-grey-dark:  #4b4b4b;
$color-text-grey-light: rgb(153, 152, 152);
$color-grey-light: #ebebeb;

$color-white: #fff;
$color-black: #000;
$color-blue: #00a2ff;


// FONT
$default-font-size: 1.6rem;


// // GRID
// $grid-width: 114rem;
// $gutter-vertical: 8rem;
// $gutter-horizontal: 6rem;