.wrapper {
  min-height: 100%;
  overflow: hidden; }

.header {
  padding: 0 10rem;
  background-color: #fff;
  height: 10rem;
  font-size: 1.4rem; }
  .header__logo-box {
    padding-top: 3rem; }
  .header__logo {
    display: block; }
  .header__nav-box {
    padding-top: 4rem; }
    .header__nav-box a {
      text-transform: uppercase; }
    .header__nav-box a:hover {
      color: #00a2ff; }
    .header__nav-box a:active {
      color: #00a2ff;
      font-weight: 500; }

.post-image img {
  width: 100%;
  height: auto;
  display: block; }

.post-text {
  padding: 10rem;
  background-color: #ebebeb; }
  .post-text article {
    padding: 0;
    font-size: 1.8rem;
    margin: 0 auto; }
    .post-text article h1 {
      font-size: 3.8rem;
      letter-spacing: 1px;
      font-weight: 700;
      font-family: "Playfair Display";
      padding-bottom: 2rem; }
  .post-text__details {
    font-size: 1.2rem;
    font-weight: 500;
    font-family: "Work Sans";
    text-transform: uppercase;
    margin: 0; }
    .post-text__details-item {
      padding-right: 4rem; }
  .post-text__content {
    padding-top: 3rem;
    font-size: 1.5rem;
    line-height: 1.5;
    color: #4b4b4b;
    font-family: "Work Sans"; }
    .post-text__content p {
      padding-bottom: 3rem;
      margin: 0; }
    .post-text__content-quote {
      font-family: "Playfair Display";
      font-style: italic;
      font-size: 2rem; }
  .post-text__contacts {
    font-size: 1.5rem;
    font-weight: 500;
    font-family: "Work Sans"; }

.post-comments {
  background-color: #fff; }

.post-new-comment {
  background-color: #ebebeb; }

.post-navigation {
  background-color: #fff; }

.footer {
  height: 15rem;
  background-color: #ebebeb; }
  .footer-info {
    text-align: center;
    padding: 5rem;
    margin: 0 auto; }
    .footer-info__contacts i {
      font-size: 1.6rem;
      color: #999898; }
    .footer-info__copyright {
      font-size: 1.4rem;
      color: #4b4b4b;
      font-family: "Work Sans"; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  line-height: 1;
  height: 100px; }
